<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BBS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">博客 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">文章</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
              <li><a href="#">{{ request.user.username }}</a></li>
              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多操作 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" data-toggle="modal" data-target="#myModal">修改密码</a></li>
            <li><a href="#">修改头像</a></li>
            <li><a href="#">后台管理</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'logout' %}">退出登录</a></li>
          </ul>
        </li>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label for="">用户名:</label>
                                    <input type="text" id="id_user" class="form-control" disabled value="{{ request.user.username }}">
                                </div>
                                <div class="form-group">
                                    <label for="">原密码:</label>
                                    <input type="password" id="id_old_password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">新密码:</label>
                                    <input type="password" id="id_new_password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">确认新密码:</label>
                                    <input type="password" id="id_confirm_password" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="set_password">修改</button>
                      <span style="color: red" id="password_error" class="pull-left"></span>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <li><a href="{% url 'login' %}">登录</a></li>
            <li><a href="{% url 'register' %}">注册</a></li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">江户川柯南</h3>
              </div>
              <div class="panel-body">
                  <img src="/static/img/4444.png" alt="" width="230">
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">灰原哀</h3>
              </div>
              <div class="panel-body">
                  <img src="/static/img/5555.png" alt="" width="230">
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">吉田步美</h3>
              </div>
              <div class="panel-body">
                  <img src="/static/img/6666.png" alt="" width="230">
              </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for article in article_queryset %}
            <div class="media">
            <h4 class="media-heading"><a href="/{{ article.blog.userinfo.username }}/article/{{ article.pk }}">{{ article.title }}</a></h4>
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="/media/{{ article.blog.userinfo.avatar }}" alt="..." width="100">
                </a>
              </div>
              <div class="media-body">
                {{ article.desc }}
              </div>
            <div class="pull-right">
                <span><a href="/{{ article.blog.userinfo.username }}/">{{ article.blog.userinfo.username }}</a>&nbsp;&nbsp;</span>
                <span>{{ article.create_time|date:'Y-m-d' }}&nbsp;&nbsp;</span>
                <span class="glyphicon glyphicon-comment">({{ article.comment_num }})&nbsp;&nbsp;</span>
                <span class="glyphicon glyphicon-thumbs-up">({{ article.up_num }})&nbsp;&nbsp;</span>
                <span class="glyphicon glyphicon-thumbs-down">({{ article.down_num }})</span>
            </div>
            </div>
                <hr>
        {% endfor %}
        </div>
        <div class="col-md-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">圆谷光彦</h3>
              </div>
              <div class="panel-body">
                  <img src="/static/img/1111.png" alt="" width="230">
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">小岛元太</h3>
              </div>
              <div class="panel-body">
                  <img src="/static/img/2222.png" alt="" width="230">
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">阿笠博士</h3>
              </div>
              <div class="panel-body">
                  <img src="/static/img/3333.png" alt="" width="230">
              </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#set_password').click(function (){
        $.ajax({
            url:'/set_password/',
            type:'post',
            data:{
                'old_password':$('#id_old_password').val(),
                'new_password':$('#id_new_password').val(),
                'confirm_password':$('#id_confirm_password').val(),
                'csrfmiddlewaretoken':'{{ csrf_token }}'
            },
            success:function (args){
                if (args.code === 1000){
                    window.location.href = '/login/'
                }else {
                    $('#password_error').text(args.msg)
                }
            }
        })
    })
</script>
</body>
</html>